*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #4a1e21;
    line-height: 1.6;
    padding: 10px;
    overflow: hidden;
}

a{
    color: #b08d57;
    text-decoration: none;
    transition: color 0.4s ease;
}

a:hover
a:focus{
    color: #7e5843;
    outline: none;
    text-decoration: underline;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: #fff;
    border-bottom: 2px solid #b08d57;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-weight: 700;
    font-size: 1.8rem;
    color: #4a1e21;
    letter-spacing: 2px;
    text-transform: uppercase;
    user-select: none;
    margin-left: 1rem;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 20px;
}

nav{
    margin-top: 0.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li a{
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}

nav ul li a:hover,
nav ul li a:focus{
    background-color: #b08d57;
    color: #fff;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem 5rem;
    background-color: #f9f5f2;
    color: #7e5843;
}

.hero h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    color: #4a1e21;
}

.hero p{
    font-size: 1.25rem;
    max-width: 650px;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.btn-primary{
    background-color: #b08d57;
    color: #fff;
    padding: 0.75rem 2rem;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background  0.3s ease;
    box-shadow: 0 4px 8px rgba(176, 141, 87, 0.4);
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: #4a1e21;
    padding: none;
    box-shadow: 0 6px 13px rgba(126, 88, 67, 0.6);
}

.services{
    background-color: #fff;
    padding: 4rem 1rem;
    text-align: center;
}

.services h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #4a1e21;
}