*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #4a1e21;
    line-height: 1.6;
    padding: 10px;
    overflow: hidden;
}